.app-center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}

h1 {
  text-shadow: 1px 1px #00000022;
}

img {
  filter: drop-shadow(2px 2px 1px #00000080) drop-shadow(-1px -1px 1px #00000044);
}

.just-name {
  padding: 4px;
}

input[type=text] {
  background: #88888822;
  color: inherit;
  padding: 2px 10px 2px 10px;
  margin: 2px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #00000022, 0 3px 10px 0 #00000022;
}

.button-spacer {
  display: inline-block;
  width: 1em;
}

button {
  color: #ffffff;
  cursor: pointer;
  padding: 4px 16px 4px 16px;
  border: 1px solid #0068b380;
  border-radius: 5px;
  background-color: #0068b3;
  box-shadow: 0 4px 8px 0 #00000022, 0 6px 20px 0 #00000022;
}

button.mini {
  padding: 0;
  background-color: inherit;
  border: 0;
  margin: 7px 8px 0 8px;
  color: #0092ff;
  box-shadow: none;
}

button:disabled {
  text-shadow: 1px 1px #ffffff30;
  color: #00000030;
  background-color: #88888840;
  border: none;
  cursor: inherit;
  box-shadow: none;
}

button:active {
  background-color: #0068b380;
  box-shadow: none;
}
