
<div *ngIf="products" class="app-center-screen">

  <img class="main-icon" src="favicon.png" />

  <h1>Frusal Angular Example</h1>

  <div *ngFor="let product of products">
    <div *ngIf="transaction">
      <input type="text" [(ngModel)]="product.name"><button (click)="removeProductOnClick(product)" class="mini">remove</button>
    </div>
    <div *ngIf="!transaction" class="just-name">
      {{ product.name }}
    </div>
  </div>
  <div *ngIf="transaction">
    <button (click)="addProductOnClick()" class="mini">add new product</button>
  </div>
  <br>

  <div>
    <button (click)="editOnClick()" [disabled]="transaction">EDIT</button>
    <span class="button-spacer"></span>
    <button (click)="applyOnClick()" [disabled]="!transaction || transaction.empty">APPLY</button>
    <span class="button-spacer"></span>
    <button (click)="cancelOnClick()" [disabled]="!transaction">CANCEL</button>
  </div>

</div>
